.top-btn-box{
	padding:10px 0px;
	.btn-style{
		width:120px;
		background-color: #457abc;
		color:#fff;
        &:focus,&:active,&:hover{
          background-color: #5faee3;
        }
	}
}
.main-warp{
	padding: 40px;
	position: relative;
	color: #333;
	font-size: 18px;
	.load-more{
		font-size: 24px;
	}
}
.data-source{
	.data-icon-ok{
		position: absolute;
	    top: -24px;
	    right: -12px;
	    font-size: 24px;
	    color: #ccc;
	}
	.data-icon-ok.active{
		color:#457abc;
	}
	.data-item{
		margin: 0;
		.data-input{
			display: none;
		}
	}
	.data-item.active{
		.data-input{
			display: block;
		}
	}
	.data-title{
		overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	.btn-detail{
		width: 70px;
		line-height: 8px;
		border:1px solid #aaa;
		border-radius: 3px;
		margin-top:-4px;
	}
	.data-inputbox{
		position: relative;
		.data-input{
			position:absolute;
			top:55px;
			left:15px;
			line-height: 16px;
			width: calc(100% - 30px);
			margin: 0;
			box-shadow: 2px 2px 5px 0px #ccc;
			vertical-align: middle;
			z-index:9;
			padding:10px 5px 10px 0;
			.form-group{
				padding:10px 12px 5px;
				margin-bottom: 0px; 
				>div{
					line-height: 28px;
				}
			}
			.control-label{
			    font-size: 16px;
			    font-weight: normal;
			    line-height: 28px;
			    margin-bottom: 0px;
			    color:#333;
			    padding-left:8%;
			}
			input{
				border:1px solid #999;
				height: 30px;
				line-height: 12px;
			}
		}
	}
	.data-table{
		margin:20px 0px 0;
		border-bottom:1px solid #999;
		border-right:1px solid #999;
		>div{
			border-top:1px solid #999;
			border-left:1px solid #999;
			height: 46px;
			line-height: 40px;
			.btn{
				width: 60px;
			    background: #457abc;
			    color: #fff;
			    padding: 5px;
				&:focus,&:active,&:hover{
					background-color: #5faee3;
				}
			}
			input{
				border:none;
				width: 100%;
				height: 100%;
				outline: none;
				background-color: #fff;
				text-align: center;
			}
		}
	}
	.table {		
		td {
			overflow:hidden;
			white-space: nowrap;
			text-overflow:ellipsis
		}
		.btn{
			width: 60px;
		    background-color: #457abc;
		    color: #fff;
		    padding: 5px;
			&:focus,&:active,&:hover{
				background-color: #5faee3;
			}
		}
	}
	.data-set{
		.data-list{
			line-height: 30px;
			font-size: 16px;
			input{
				width: 100%;
				height: 30px;
			}
			textarea{
				width: 100%;
				resize:none;
			}
			.input-group{
				width: 100%;
				.chosen-container .chosen-results li.highlighted{
					background-color: #457abc;
					background-image: linear-gradient(#457abc 20%, #457abc 90%);
				}
			}
			.btn{
				width: 200px;
			    background: #457abc;
			    color: #fff;
			    padding:5px;
			}
			>div{
				padding-top: 10px;
				line-height: 30px;
			}
			a{
				border:1px solid #999;
				padding-bottom: 0px;
				border-radius: 0px;
			}
			
		}
	}

  .data-export{
		.data-form-contain{
			padding:0;
			margin:10px 15px 0px;
			height:300px;
			width: calc(100% - 30px);
			overflow-x:auto;
			.data-form-box{
				white-space: nowrap;
				display: inline-block;
				.data-form{
					display: inline-block;
					margin-right: 10px;
					width:350px;
					height:250px;
					position: relative;
					.data-icon-ok{
						z-index: 9;
						top:5px;
						right:91%;
						background-color: #FFF;
						border-radius: 50%;
					}
					img{
						max-width: 95%;
					}
					.content-top{
						margin-top:2px;
						margin-left:3px;
						height: 92%;
						box-shadow: 0px 0px 6px #999;
						overflow: hidden;
					}
					.content-bottom{
						height: 10%;
						i{
							margin-top:20px;
							position: relative;
							z-index: 9;
							margin-right: 10px;
							border:1px solid #666;
							border-radius: 5px;
							height: 18px;
							width:18px;
							top:3px;
						}
						.fa-check-square:before{
							opacity: 0;
							font-size: 21px;
						    color: #457abc;
						    position: relative;
						    top: -2px;
						    left: -1px;
						    z-index: 9;
						}
						i.active{
							border:1px solid #457abc;
							background-color:#fff;
						}
						i.active:before{
							opacity: 1;
						}
					}
				}
			}

		}
		.btn{
		    background: #457abc;
		    color: #fff;
		    padding: 5px 30px;
		    float: left;
		    margin-top: 20px;
		    margin-bottom: -20px;
            margin-right: 30px;
            &:focus,&:active,&:hover{
              background-color: #5faee3;
            }
        }
    }
  .add-temp{
    display: none;
    background-color: #fff;
    position:fixed;
    top: 50%;
    left:50%;
    z-index: 22;
    transform:translate(-50%,-50%) scale(0.87);
  }
  .exp-temp{
    display: none;
    //display: block;
    width:45%;
    min-width: 635px;
    background-color: #fff;
    position:fixed;
    top: 50%;
    left:50%;
    z-index: 22;
    transform:translate(-50%,-50%) scale(0.87);
    .data-form-box .data-form{
      width: 250px !important;
    }
	.data-form-contain{
	  height: 510px;
      overflow-y: hidden;
	}
    .btn{
      float: none;
    }
  }
  .mode-wall{
    display: none;
    position:fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background-color: #000;
    z-index: 21;
    opacity: .8;
  }
 }