* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei", sans-serif;
}

body {
    max-width: 768px;
    margin: auto;
    position: relative;
}

button, span, input {
    font-family: "Microsoft YaHei", sans-serif;
}

.clear {
    clear: both;
    width: 0;
    height: 0;
    line-height: 0;
}

header {
    background-color: #457abc;
    text-align: center;
}

.preBtn {
    height: 22px;
    width: 22px;
    background: url("../images_mobile/preIcon.png") center no-repeat;
    background-size: cover;
    float: left;
    margin: 10px 15px;
    border: none;
    outline: none;
}

.shareBtn {
    height: 22px;
    width: 22px;
    background: url("../images_mobile/share.png") center no-repeat;
    background-size: cover;
    float: right;
    margin: 10px 15px;
    border: none;
    outline: none;
}

.page-title {
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 10px 0;
}

.video-broadcast {
    width: 100%;
    height: calc(100% - 84px);
    background: url("../images_mobile/bgImg.png") center no-repeat;
    background-size: cover;
}

.participants {
    position: absolute;
    top: 60px;
    width: 100%;
}

.anchor {
    margin-left: 15px;
    display: inline-block;
    float: left;
    background-color: #c2c2c2;
    border-radius: 25px;
    text-align: center;
}

.anchor-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: solid 2px #fff;
    float: left;
}

.curr-num {
    float: right;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    box-sizing: border-box;
    padding: 3px 25px 0px 5px;
}

.audiences {
    height: 32px;
    margin: 3px 0;
    overflow: hidden;
}

.audiences img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 12px;
    float: left;
}

.descriptionInfo {
    margin-top: 15px;
}

.descriptionInfo p {
    font-size: 13px;
    color: #fff;
}

.descriptionInfo p:first-child {
    float: left;
    margin-left: 15px;
    padding: 8px 6px;
    border-radius: 20px;
    background-color: #c2c2c2;
}

.descriptionInfo p:nth-child(2) {
    float: right;
    margin: 8px 15px;
}

.barrage {
    position: absolute;
    top: 250px;
}

.broadcast-footer {
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: #fff;
}

.sq-commit {
    height: 26px;
    width: 26px;
    background: url("../images_mobile/sq-commit.png") center no-repeat;
    background-size: cover;
    float: left;
    margin: 8px 5px 8px 15px;
}

.send {
    float: right;
    margin: 6px 15px 6px 5px;
    padding: 5px 15px;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 2px;
    background-color: #457abc;
    border-radius: 25px;
    border: none;
    outline: none;
}

.commitInfo {
    width: calc(100% - 140px);
    font-size: 15px;
    font-weight: normal;
    color: #000;
    margin: 11px 0;
    background: none;
    outline: none;
    border: none;
}